# CodeLaunch
/alembic.ini
.DS_Store
.git
.env
.npm
.config
.vscode
*.log
.codelaunch
.nuxt
.idea
tmp
nuxt.d.ts
.output
.dockerignore
.gitignore
.editorconfig
.gitlab-ci.yml
/platform.json
node_modules/
**/node_modules/
**/__pycache__/
**/apps/
docker-compose.yml
Dockerfile
**/storybook/
storybook-static
/tsextends.json
/package-lock.json
context/assets/graphql/*.graphql

# Comment-out for mono-repo behavior
# (and COPY each app in Dockerfile)
apps/