# CodeLaunch
/alembic.ini
.DS_Store
node_modules
.env
.npm
.config
yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log
.codelaunch
.nuxt
tmp
dist/
__pycache__/
nuxt.d.ts
.output
output
/npmrc/
.npmrc
npm.rc
/.storybook/preview.js
storybook-static
context/public/storybook/
/tsextends.json
context/assets/graphql/*.graphql
fabric/material

# Comment-out for mono-repo behavior
apps/
